/* CSS HSL */ 
--red-pantone: hsla(355, 78%, 56%, 1);
--honeydew: hsla(105, 55%, 96%, 1);
--non-photo-blue: hsla(182, 43%, 76%, 1);
--cerulean: hsla(203, 39%, 44%, 1);
--berkeley-blue: hsla(215, 50%, 23%, 1);

#header {
    background-color: hsla(355, 78%, 56%, 1);
    padding: 15px;
}
#body {
    background-image: url("../Img/capital.jpg");
    background-size: cover;
    
}
#form {
    margin: auto;
    padding: 1.5rem;
    width: 75%;
    border: 3px solid white;
    margin-block: 6rem;
}
#results {
    text-align: center;
    margin: auto;
    width: 30%;
    border: none; white;
    padding: 1.5rem;
    margin-block: 5rem;
    
}