header {
    padding: 10px;
}

body {
    margin: 0;
    background-image:url(Img/beach.jpg);
    background-size: cover;
    

};
form {
    margin: 0;
    padding: 10;
    border: 1.5rem;
    border-color:black;
    border-style: solid;
}
