/* CSS HSL */ 
--red-pantone: hsla(355, 78%, 56%, 1);
--honeydew: hsla(105, 55%, 96%, 1);
--non-photo-blue: hsla(182, 43%, 76%, 1);
--cerulean: hsla(203, 39%, 44%, 1);
--berkeley-blue: hsla(215, 50%, 23%, 1);

h2 {
    background-color: hsla(203, 39%, 44%, 1);
}

header {
    padding: 15px;
}

body {
    background-image: url(Img/beach.jpg);
    background-size: cover;
    

};
#form {
    margin: 0;
    padding: 20px;
    width: 50%;
    border: 3px solid black;
}
#results {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    
}